@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200..900&display=swap');

body{
font-family: 'Heebo', sans-serif !important;
font-variation-settings: 'wght' 400;
color: #222;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}

.header {
  position: relative !important;
  width: 100% !important;
  justify-content: space-between !important;
}

h1.heading {
  padding: 1.5rem 0 !important;
  margin: 2rem 0 !important;
  width: 100% !important;
  font-variation-settings: 'wght' 500 !important;
  line-height: 1.6 !important;
  text-align: left !important;
  letter-spacing: .3rem !important;
}

h1.heading strong {
  font-variation-settings: 'wght' 650 !important;
}

h1.title {
  font-variation-settings: 'wght' 650 !important;
  line-height: 1.6 !important;
  letter-spacing: 0.1rem !important;
}

h2.logo {
  font-family: 'Literata', serif !important;
  font-variation-settings: 'wght' 350;
}

h2.title {
  font-variation-settings: 'wght' 650 !important;
  line-height: 1.6 !important;
  letter-spacing: 0.1rem !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.meta {
  padding-bottom: 1rem !important;
  border-bottom: 1px !important;
  border-bottom-color: #E2E8F0 !important;
  border-bottom-style: solid !important;
  font-family: 'Inter', sans-serif !important;
  font-variation-settings: 'wght' 500 !important;
  line-height: 2 !important;
  letter-spacing: O.3rem !important;
}

article {
  font-family: 'Heebo', sans-serif !important;
  letter-spacing: .03rem !important;
}

article p {
  font-variation-settings: 'wght' 400 !important;
}

.intro {
  padding-top: 2rem !important;
  padding-bottom: 1rem !important;
  font-family: 'Heebo', sans-serif !important;
  font-variation-settings: 'wght' 400 !important;
  letter-spacing: .03rem !important;
}

article p strong {
  padding-bottom: 3rem !important;
  font-variation-settings: 'wght' 600 !important;
  line-height: 3 !important;
}

ul {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

ul li {
  list-style: inside !important;
  list-style-type: none !important;
}

time {
  font-family: 'Heebo', sans-serif !important;
  font-variation-settings: 'wght' 450 !important;
  line-height: 1.75 !important;
  letter-spacing: .2rem !important;
  color: #000 !important;
}

p.summary {
  font-variation-settings: 'wght' 400 !important;
  line-height: 1.6 !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

p.more {
  margin-top: 1rem !important;
  font-variation-settings: 'wght' 600 !important;
  line-height: 1 !important;
  cursor: pointer !important;
  text-decoration: none !important;
}


a:hover {
  text-decoration: none !important;
}

.menu > button {
  padding: 0 0.125rem !important;
  font-variation-settings: 'wght' 450 !important;
  line-height: 1 !important;
}

.menu > button > a {
  padding: 0 0.25rem !important;
  font-variation-settings: 'wght' 450 !important;
  line-height: 1 !important;
}


.footer {
  margin-bottom: 2rem !important;
}

.footer a{
  margin: 0;
}

.footer p{
  font-variation-settings: 'wght' 500 !important;
  line-height: 2 !important;
}


.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform-origin: right;
}

.chakra-button {
  cursor: pointer;
  border: 0 !important;
  background-color: transparent !important;
  outline: 0 !important;
  padding:0 !important;
}

.menu button svg {
  margin-top: 0.3125rem !important;
}

.toggler {
  position: relative;
  cursor: pointer;
  border: 0 !important;
  background-color: transparent !important;
  outline: 0 !important;
  padding:0 !important;
}


.bread {
  display: block;
  background: #222;
  width: 100%;
  height: 3px;
  border-radius: .5px;
  position: absolute;
  transition:transform .1096s cubic-bezier(.52, .16, .52, .84);
}

.bread:nth-child(1) {
  top:0;
}

.bread:nth-child(2) {
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bread:nth-child(3) {
  bottom:0;
}

.open.toggler .bread:nth-child(1) {
  top:0;
  transform: translate(0,6.5px) rotate(45deg);
}

.open.toggler .bread:nth-child(2) {
  display: none;
}

.open.toggler .bread:nth-child(3) {
  bottom:0;
  transform: translate(0,-6.5px) rotate(-45deg);
}